
// font
.text-14-500 {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
}

.text-18-500 {
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
}

.text-126 {
    font-size: 126px;
    line-height: 126px;
    letter-spacing: 0em;
}

.text-50-70 {
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0em;
}

.text-16-22 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
}

.text-50 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0em;
}

.text-16-20 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0em;
}

.text-28 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0em;
}

.text-22-24 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0em;
}

.text-18-23 {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0em;
}

.text-15-21 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0em;
}

.text-14-18 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0em;
}