@import "common";
@import "content";
@import "typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    scrollbar-width:none;
}
    html {
        /* For Firefox */
        overflow-y: auto;
        scrollbar-width: none;
      }
